body {
  background: url(../images/leather_1.png);
  // background: url(../images/geometric-leaves.png);
  background-color: $background;
}

.section {
  &.is-full-screen {
    height: 100vh;
    padding-top: $navbar-height + 1rem;
  }
}

.level-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-width: $widescreen;
  margin: auto;
  > .level:not(:last-child) {
    margin-bottom: 0;
  }
  .level-item {
    margin: 0 1rem;
  }
}