@import '../variables';

img.playing-card {
  // width: 10rem;
  height: $card_height;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: initial;
  box-sizing: initial;
  transition: ease 0.1s transform;
  &:not(:last-child) {
    margin-right: $card_space / 2;
  }
  &.selectable {
    cursor: pointer;
    &:hover {
      transform: translateY(-$card_space);
    }
  }
}