@import '../variables';

.hand {
	padding: 0;
	margin: 0;
  display: inline-block;

  &.is-compact {
    img.playing-card {
      margin-left: $card_space - $card_width;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}