@import '../variables.scss';

.score-board {
  // position: absolute;
  // top: 0;
  // right: 0;
  margin-top: 6vh;
  margin-right: 5vw;

  .table {
    background: none;
    color: $text;
    td {
      text-align: center;
    }
  }

}